body {
   background-image: url(https://wallpapercave.com/wp/wp12615675.png);
   color:deeppink;
   font-family: Georgia, serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items:center;
    padding: 100px;
}

a {
    color:deeppink;
    text-decoration: none;
}

img {
    width: 200px;
}